<h1>Listing auctions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Сервер</th>
      <th>Слаг сервере</th>
      <th>Связанные миры</th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
      <tr>
        <td><%= link_to auction.realm_name, auction %></td>
        <td><%= auction.realm_slug %></td>
        <td><%= auction.connected_realms %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction', new_auction_path %>
